Repository Dunqing/github-repo-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: oxlint, oxfmt

oxlint:
  name: oxlint
  entry: pnpm lint
  language: system
  pass_filenames: false

oxfmt:
  name: oxfmt
  entry: pnpm format:check
  language: system
  pass_filenames: false

chore: enable experimentalSortImports in oxfmt
  .oxfmtrc.json
  src/App.tsx
  src/components/BranchSelector.tsx
  src/components/CopyTreeButton.tsx
  src/components/FileIcon.tsx
  src/components/FileSizeStats.tsx
  src/components/FileStats.tsx
  src/components/FileTree.tsx
  src/components/FileTreeSearch.tsx
  src/components/FileTypeChart.tsx
  src/components/ShareButton.tsx
  src/components/theme-toggle.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/progress.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/components/ui/tabs.tsx
  src/hooks/useRepoAnalyzer.ts
  src/main.tsx
  vite.config.ts
Due: oxlint, oxfmt

feat: add lines of code estimate in Size tab
  src/components/FileSizeStats.tsx
Due: oxlint, oxfmt

feat: add large repo handling and folder navigation
  ROADMAP.md
  src/App.tsx
  src/components/FileTree.tsx
  src/components/PathBreadcrumb.tsx
  src/components/ShareButton.tsx
  src/components/ui/tabs.tsx
  src/hooks/useRepoAnalyzer.ts
  src/types.ts
Due: oxlint, oxfmt

feat: add persistent localStorage cache for repository data
  src/hooks/useRepoAnalyzer.ts
  src/lib/swr-cache-provider.tsx
  src/main.tsx
Due: oxlint, oxfmt

docs: add implementation plan for new features
  IMPLEMENTATION_PLAN.md
Due: oxfmt

fix: limit branch selector width and truncate long names
  src/components/BranchSelector.tsx
Due: oxlint, oxfmt

chore: remove typescript dep, use oxlint for type checking in build
  package.json
  pnpm-lock.yaml
Due: oxfmt

feat: add P0/P1 features from implementation plan
  IMPLEMENTATION_PLAN.md
  src/App.tsx
  src/components/ExportButton.tsx
  src/components/GitHubLink.tsx
  src/components/RateLimitIndicator.tsx
  src/components/RecentReposDropdown.tsx
  src/components/ShareButton.tsx
  src/hooks/useRateLimit.ts
  src/hooks/useRecentRepos.ts
Due: oxlint, oxfmt

fix: folder navigation path joining
  src/hooks/useRepoAnalyzer.ts
Due: oxlint, oxfmt

feat: add keyboard shortcuts for navigation
  src/App.tsx
  src/components/FileTreeSearch.tsx
  src/hooks/useKeyboardShortcuts.ts
Due: oxlint, oxfmt

chore: update dependencies and add packageManager
  package.json
  pnpm-lock.yaml
Due: oxfmt

feat: add dependency detection with registry links
  src/App.tsx
  src/components/DependencyStats.tsx
  src/hooks/useDependencies.ts
  src/lib/dependencyParser.ts
Due: oxlint, oxfmt

style: update theme to OKLCH color space
  src/index.css
Due: oxfmt

chore: setup shadcn/ui CLI and update theme
  components.json
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.tsx
  src/components/ui/progress.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/components/ui/tabs.tsx
  src/index.css
  src/lib/utils.ts
  tsconfig.json
Due: oxlint, oxfmt

style: configure oxfmt for Tailwind CSS class sorting
  .oxfmtrc.json
  src/App.tsx
  src/components/BranchSelector.tsx
  src/components/DependencyStats.tsx
  src/components/FileSizeStats.tsx
  src/components/FileStats.tsx
  src/components/FileTree.tsx
  src/components/FileTreeSearch.tsx
  src/components/FileTypeChart.tsx
  src/components/PathBreadcrumb.tsx
  src/components/RateLimitIndicator.tsx
  src/components/RecentReposDropdown.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.tsx
  src/components/ui/progress.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/components/ui/tabs.tsx
Due: oxlint, oxfmt

feat: add clear button to repo input field
  src/App.tsx
Due: oxlint, oxfmt

feat: make website mobile friendly
  src/App.tsx
  src/components/BranchSelector.tsx
  src/components/FileSizeStats.tsx
  src/components/FileStats.tsx
  src/components/PathBreadcrumb.tsx
Due: oxlint, oxfmt

docs: rewrite README with comprehensive features and screenshot
  IMPLEMENTATION_PLAN.md
  README.md
  ROADMAP.md
  public/screenshot.png
Due: oxfmt

chore: add MIT license
  LICENSE
Due: none

feat: add source code link in footer
  README.md
  src/App.tsx
Due: oxlint, oxfmt

docs: add oxlint and oxfmt to tech stack
  README.md
Due: oxfmt

refactor: update app slogan to be more descriptive
  src/App.tsx
Due: oxlint, oxfmt

refactor: replace lucide-react with unplugin-icons
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/BranchSelector.tsx
  src/components/CopyTreeButton.tsx
  src/components/DependencyStats.tsx
  src/components/ExportButton.tsx
  src/components/FileSizeStats.tsx
  src/components/FileStats.tsx
  src/components/FileTree.tsx
  src/components/FileTreeSearch.tsx
  src/components/GitHubLink.tsx
  src/components/PathBreadcrumb.tsx
  src/components/RateLimitIndicator.tsx
  src/components/RecentReposDropdown.tsx
  src/components/ShareButton.tsx
  src/components/theme-toggle.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/select.tsx
Due: oxlint, oxfmt

chore: remove unused default assets
  public/vite.svg
  src/assets/react.svg
Due: none

chore: update lock
  pnpm-lock.yaml
Due: oxfmt

update readme
  README.md
Due: oxfmt

fix: only fetch dependency files that exist in repo tree
  src/App.tsx
  src/hooks/useDependencies.ts
Due: oxlint, oxfmt

refactor: centralize GitHub API fetching and token management
  src/hooks/useDependencies.ts
  src/hooks/useRateLimit.ts
  src/hooks/useRepoAnalyzer.ts
  src/lib/github-api.ts
Due: oxlint, oxfmt

feat: enable localStorage caching to avoid re-fetching on refresh
  src/hooks/useRepoAnalyzer.ts
  src/lib/github-api.ts
Due: oxlint, oxfmt

feat: lazy load branches and tags when selector is opened
  src/App.tsx
  src/components/BranchSelector.tsx
  src/hooks/useRepoAnalyzer.ts
Due: oxlint, oxfmt

feat: lazy load dependencies only when deps tab is opened
  src/App.tsx
  src/components/DependencyStats.tsx
Due: oxlint, oxfmt

update deps
  package.json
  pnpm-lock.yaml
Due: oxfmt

fix: resolve analyze button not triggering API requests
  src/hooks/useRepoAnalyzer.ts
  src/lib/github-api.ts
Due: oxlint, oxfmt

feat: add clear button to token input with re-fetch on clear
  src/App.tsx
Due: oxlint, oxfmt

fix: refresh button now properly re-fetches data
  src/App.tsx
  src/hooks/useRepoAnalyzer.ts
Due: oxlint, oxfmt

Path conditions:
  oxlint: any of: \.(ts|tsx)$
  oxfmt: any of: \.(ts|tsx|js|jsx|json|css|md|yaml|yml)$
